*{
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    
}
.navbar ul{
    display: flex;
    position: relative;
    float: right;
    list-style: none;
    margin-right: 120px;
}
.logo{
    height: 40px;
    width: 40px;
}
.main{
    margin: 17px 120px;
    font-size: 25px;
    font-family: 'Cinzel', serif;
    cursor: pointer;
}
.navbar li{
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin: 15px 15px;
    border-radius: 30px;
    transition: 0.7s;
    padding: 15px 25px;
    font-family: 'Nunito', sans-serif;
}
.navbar li:hover{
    color: #fff;
    background: #00b894;
}
#home{
   height: 100vh;
   background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(./pexels-pixabay-415071.jpg) no-repeat;
   background-position: center;
   background-size: cover;

   overflow: hidden;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
    margin: 200px 300px;
	background:transparent;
	padding:10px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #efefef;
    border-radius: 30px;
    background-color: rgba(22, 20, 20, 0.11);
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 10px 1px #00b894;
	border-radius: 30px;
}
.toggle-btn
{
	padding:15px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
    font-size: 14px;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #00b894;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid black;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 80%;
	padding: 15px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #00b894;
	border: 0;
	outline: none;
	border-radius: 30px;
    font-size: 16px
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:black;
	font-size:16px;
	bottom:77px;
	position:absolute;

}
#login
{
	left:50px;
}
#login input
{
	color:black;
	font-size: 17px;
}
#register
{
	left:450px;
}
#register input
{
	color:black;
	font-size: 15px;
}
.bms{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 47%;
    right: -5%;
}
.bms h1{
    font-size: 40px;
    margin: 30px;
}
.bms li{
    font-size: 25px;
    margin: 12px;
    padding-left: 25px;
    list-style: square;
    font-family: 'Nunito', sans-serif;
}
.bms ul{
    justify-content: space-around;
}
.bms button {
    padding: 18px;
    margin: 25px 10px;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    background-color: #00b894;
    list-style: none;
    border: #00b894 solid 1px;
    color: #fff;
    cursor: pointer;
}   
.fas{
    color: #fff;
    margin-left: 4px;
}
#about{
    margin: 70px 150px;
    justify-items: center;
    background: #efefef;
    height: 150vh;
}
.all{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.first{
    margin-left: 200px;
    text-align: center;
    width: 100%;
}
.first h1{
    font-size: 40px;
    margin: 40px 10px;
    font-family: 'Fira Sans', sans-serif;
}
.first p{
    font-size: 21px;
    line-height: 1.6;
    font-family: 'KoHo', sans-serif;
}
.second{
    margin: 50px 200px;
    width: 100%;
}
.second h1{
    font-size: 40px;
    margin:  30px 40px;
    font-family: 'Fira Sans', sans-serif;
}
.second li{
    font-size: 21px;
    margin: 20px;
    line-height: 1.6;
    font-family: 'KoHo', sans-serif; 
}




.teesra{
    width: 100%;
    padding: 70px 0 ;
}
.service-box{
    display: flex;
    width: 83%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    overflow: hidden;
}
.service-img{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    
}
.service-img img{
    width: 100%;
    border-radius: 7px;
    background-position: center;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    background: linear-gradient(rgba(0,0,0,0.1),#00b894);
    opacity: 0;
    transition: 1s ;
}
.service-img:hover .overlay{
    opacity: 1;
}
.caption{
    position: absolute;
    width: 80%;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    width: 100%;
    height: 2px;
    margin: 15px 0;
    border: 0;
}
.caption h3{
    font-size: 25px;
}
.caption p{
    font-size: 25px;
}
.service-img:hover .caption{
    bottom: 40%;
    opacity: 1;
}
